<div id="shopselect" v-cloak>
  <account-notification-banner roomName="session" text="<%= msg %>"></account-notification-banner>
  <div class="container pt-5 pb-5">

    <h1>Select shop for <%= me.fullName %>@<%= company.name %></h1>
 
    <ajax-form ref="form" action="selectShop" 
      :syncing.sync="syncing" 
      :cloud-error.sync="cloudError" 
      :form-data="formData" 
      :form-rules="formRules" 
      :form-errors.sync="formErrors" 
      @submitted="submittedForm"
      @rejected="rejectedForm"
    >
      <% for (const shop of shops) { %>
        <% if (shop.id % 3 == 0) { %>
          <div class="card-deck pt-3 flex-row" style="text-align: center;">     
        <% } %>
          <div class="card" style="flex: auto;">
            <div class="card-body">

              <ajax-button type="submit" name="shop_id" 
                value=<%- shop.shop.shop_id.id %> 
                @click="click" 
                class="btn btn-primary btn-lg" 
                style="min-width: -webkit-fill-available;"
              >
                  <div class="card-title pt-2">
                    <%= shop.shop.shop_id.name %>
                  </div>
                  <div class="card-subtitle">
                    <%- shop.city.name %>
                  </div>
                  <div class="card-subtitle pt-2" style="font-size: 80%;">
                    <%- shop.shop.shop_id.address1 ? shop.shop.shop_id.address1 : "&nbsp;" %>
                  </div>
              </ajax-button>

            </div>
          </div>
        <% if (shop.id % 3 == 2) { %>
          </div>
        <% } %>
      <% } %>
      </div>
    </ajax-form>
    
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
